<%- include("partials/header.ejs") -%>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <a href="https://en.wikipedia.org/wiki/Noam_Chomsky" target="_blank">
        <div class="image-container">
          <img src="images/NoamChomsky.png" class="responsive" />
          <div class="overlay">
            Noam Chomsky
            <p style="font-size: 15px">
              an American linguist, philosopher, cognitive scientist, historian,
              social critic, and political activist.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="https://en.wikipedia.org/wiki/Aldous_Huxley" target="_blank">
        <div class="image-container">
          <img src="images/AldousHuxley.png" class="responsive" />
          <div class="overlay">
            Aldous Huxley
            <p style="font-size: 15px">an English writer and philosopher.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="https://en.wikipedia.org/wiki/Bill_Hicks" target="_blank">
        <div class="image-container">
          <img src="images/BillHicks.png" class="responsive" />
          <div class="overlay">
            Bill Hicks
            <p style="font-size: 15px">
              an American stand-up comedian, social critic, satirist and
              musician.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href="https://en.wikipedia.org/wiki/Eugene_V._Debs" target="_blank">
        <div class="image-container">
          <img src="images/EugeneDebs.png" class="responsive" />
          <div class="overlay">
            Eugene Debs
            <p style="font-size: 15px">
              an American socialist, political activist, trade unionist,
              founding member of Industrial Workers Of The World (IWW).
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="https://en.wikipedia.org/wiki/Peter_Kropotkin" target="_blank">
        <div class="image-container">
          <img src="images/PeterKropotkin.png" class="responsive" />
          <div class="overlay">
            Peter Kropotkin
            <p style="font-size: 15px">
              a Russian anarchist, socialist, revolutionary, economist,
              sociologist, historian, zoologist, political scientist, human
              geographer and philosopher.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="https://en.wikipedia.org/wiki/Mikhail_Bakunin" target="_blank">
        <div class="image-container">
          <img src="images/MilkhailBakunin.png" class="responsive" />
          <div class="overlay">
            Mikhail Bakunin
            <p style="font-size: 15px">
              a Russian revolutionary anarchist, socialist and founder of
              collectivist anarchism.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href="https://en.wikipedia.org/wiki/Emma_Goldman" target="_blank">
        <div class="image-container">
          <img src="images/EmmaGoldman.png" class="responsive" />
          <div class="overlay">
            Emma Goldman
            <p style="font-size: 15px">
              an anarchist political activist and writer.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a
        href="https://en.wikipedia.org/wiki/Pierre-Joseph_Proudhon"
        target="_blank"
      >
        <div class="image-container">
          <img src="images/Proudhorn.png" class="responsive" />
          <div class="overlay">
            Pierre-Joseph Proudhon
            <p style="font-size: 15px">
              a French socialist, politician, philosopher, economist and the
              founder of mutualist philosophy.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a
        href="https://en.wikipedia.org/wiki/Percy_Bysshe_Shelley"
        target="_blank"
      >
        <div class="image-container">
          <img src="images/PercyShelly.png" class="responsive" />
          <div class="overlay">
            Percy Shelley
            <p style="font-size: 15px">
              one of the major English Romantic poets.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") -%>
