<%- include("partials/header.ejs") -%>

<div class="container" style="margin-top: 20px">
  <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
      ></li>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img
          src="images/carousel-1.png"
          class="d-block w-100"
          alt="Neo-Liberalism"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="images/carousel-2.png" class="d-block w-100" alt="Thatcher" />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <img
          src="images/carousel-3.png"
          data-bs-interval="5000"
          class="d-block w-100"
          alt="1980s"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <img
          src="images/carousel-4.png"
          class="d-block w-100"
          data-bs-interval="5000"
          alt="Reaganism"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleDark"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleDark"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>

<div class="container" style="margin-top: 20px">
  <div class="bg-dark">
    <div class="vl"></div>
    <p class="title-text" id="first-title">Solutions</p>
  </div>
</div>

<div class="container" style="margin-top: 20px">
  <p class="lead" style="color: white">
    To establish some common ground, and to supplement understanding. It is
    necessary to establish some basic facts that will come in useful when
    addressing the following subject matter. Without the smokescreen of
    rhetoric, the left and right political divide was always just an attempt to
    conceptualise the balance between people or property. Take the pretentious
    fad of ‘Libertarianism’ for example. The debate in that school of thought is
    one between the side of people rights and the side of property rights.
  </p>
  <p class="lead" style="color: white">
    This dichotomy has unfortunately been obfuscated by the conspiratorial work
    of Murray Rothbard who has left many people completely unaware of
    Libertarianism’s leftist roots. In fact, contemporary Libertarianism has
    morphed into something so un-libertarian that it actually ends up extolling
    hierarchies of power, just those that are of the private kind. This is quite
    unlike the original enlightenment form of Libertarianism as seen through
    European thinkers like Rudolph Rocker and Errico Malatesta. These people
    challenged all forms of domination regardless of whether they were part of
    the state or not. If the American ‘Libertarians’ where true to their word,
    then they would be focused on giving people the freedoms they require to act
    as free and independent, autonomous beings, rather than trying to create an
    even more brutish form of Capitalism. Right-wing Libertarians fail to
    understand that they are advocating something so unfree that the only
    choices available for the majority of the population will either be to
    submit to the growing amasses of corporate wealth or to starve. This is of
    course, bad news for the privileged minority and their freedom to take away
    other people’s freedoms, but good news for anyone who cares about the
    freedom to peruse communal interests over lining the pockets of the opulent
    few. Ultimately, it takes a truly insane society, to let something so astray
    from its original meaning be the ideological groundwork for genuine
    political parties.
  </p>
  <p class="lead" style="color: white">
    The values of any society will always be reflective of its sources of power.
    Therefore, if we have a society where influence and power is determined by
    wealth, then the people in that society will derive their values from the
    ruling wealthy. They will be interested in their own material gain and will
    pursue mindless activities of ‘fashionable consumption’, simply because
    those are the messages that they are assaulted with on a daily basis from
    every bus, taxi, football stadium and high-street. They will believe in
    slogans, brands and material superficialities. They will act in a way that
    makes them not so different from their televised counterparts. That mockery
    of reality portrayed in advertising and mass media, designed to lead the
    population into a materialistic stupor. All of this is extremely damaging to
    a healthy and enlightened population. It will lead to a society where humans
    revel only a fraction of their true potential and will be unable to dream of
    a better world, for the limits of their mind have been clouded with the
    values of corporate greed.
  </p>
  <p class="lead" style="color: white">
    No, the free markets do not make free, productive citizens. Its chief
    consequence is the subversion of market economics to suit the needless
    trivialities of the super-rich at the expense of the privilege and dignity
    of the majority population. It creates a system where growth is fuelled by
    inexorable consumption, irrespective of the current state of world resources
    or energy. Many workers who are subjected to this brutish system are forced
    to waste countless hours of toil on the act of building up a handful of
    super elites at the expense of meaningful productivity. This would entail
    any effort to enrich the human experience and contribute to the shared
    interests of humanity. Unfortunately, it is these things conflict with the
    property interests of the ruling elite and because of it any attempt to
    achieve their fulfilment are maligned under the rhetoric of Communism.
  </p>
  <p class="lead" style="color: white">
    But it is only in a profoundly sick society where investment of manpower,
    resources and capital on sneakers with flashing lights in them is deemed as
    more economically efficient then using them for the global eradication of
    poverty. Worse still, if the rate of consumption cannot be maintained
    ferociously high then the economy will collapse and the people will become
    impoverished. So instead of building up the human race the free markets are
    instead more interested in bombarding the public with trance-inducing
    advertising, stripping away public land for the creation of shopping malls
    and sensationalist billboards, holding an iron grip on the upbringing of
    future generations, and making the attainment of shiny things within arm’s
    reach man’s sole purpose in life. The net result is to lock the population
    into a dogmatic belief system that has no aspiration or reason for being,
    other than the self-destructing idea of individual material gain. The
    conclusion to be drawn, is that Liberalism is the amalgamation of disguising
    tyranny under the veneer of individual freedom.
  </p>
  <p class="lead" style="color: white">
    It is defenders of Liberalism that refuse to make any concessions to the
    hyper-commercialization of society and the commoditisation of labour. They
    foolishly equate all attempts to democratize, or decentralise the means of
    production and give working people mastery over their own life with 20th
    century totalitarianisms. Their lack of critical faculties has led them to
    believe that the ‘Cold War’ was a clear struggle between freedom and
    totalitarianism. They have brought into a total distortion of reality that
    has been created by the Business classes to serve their best interest’s.
    Such a belief system can only be created through the convenient omission of
    anti-Communist ‘death squad’ states such as El Salvador, Guatemala and
    Indonesia. Furthermore, the US’s draconian suppression of developing
    democracies in the Congo and the Dominican Republic.
  </p>
  <p class="lead" style="color: white">
    People who have brought into this lie actually believe that the US was
    justified in killing upwards of 4 million in the second Indochina war. They
    believe that it was in the South Vietnamese’s best interest’s to be enclosed
    in barbed wire concentration camps (‘Strategic Hamlets’) ‘so that they could
    be protected from the commies’. Viewing events objectively, without the
    propagandised spectacles of Hollywood gloss and Government fervour, one
    would reach the conclusion that there is nothing free, nor liberating, nor
    democratic about deliberately starving the population through the targeting
    of food crops and by engaging in chemical warfare through the deployment of
    napalm and the disfigurement of future generations through the infamous
    ‘Agent Orange’. It is logic, the thing that is willing to call a spade a
    spade, that will condemn the forceful imposition of US power for what it
    really was, a terrorist invasion to fight a war that they had no right to be
    fighting. It is the delusion that draws a moral distinction between the
    terrorism of your country and the terrorism of your enemies. It is the
    deluded who insinuates that the Soviets invasion of Afghanistan was ‘bad
    terrorism’ but the US’s invasion of South Vietnam was ‘good terrorism’.
  </p>
  <p class="lead" style="color: white">
    The problem with the ‘reds’, was that they established an ideology,
    formulated at the top, and imposed on the bottom. They had to pull Marxism
    towards the right in order to make it their own. This is why they demonised
    any Marxist belief system towards the left of them, like those promoted by
    Rosa Luxembourg and Antonie Pannekoek who they categorized as being ‘an
    infantile disorder’. They were uncompromising in their beliefs and refused
    to let the public turn the revolution into their own (hence Kronstadt). This
    dogmatic belief that the rulers of society know best and that concessions
    should be made to democracy, in the sense that there needs to be varying
    levels of indoctrination present in the institutions to prevent people from
    straying too far from the orthodoxy, is the same ideological plague that is
    the currently the root cause of so much suffering in the world today.
  </p>
  <p class="lead" style="color: white">
    Ignoring the pontification of bureaucrats, western societies are not free.
    The people in those societies were born free, but they were also born
    ignorant and impressionable, and it is these last two intrinsic qualities
    that their rulers have used against them in the process of conditioning. The
    process that leaves them obedient caricatures, far divorced form the levels
    of potential that can be fulfilled only in their natural state of freedom.
    Nobody chooses where they were born, but as soon as they are born, they
    become a product of their environment which was pre-made for them and
    waiting to shape them like pliable clay. So that they will spend the rest of
    their lives as pacified cogs in a machine that is set up to benefit the
    ruling opulent, much to their detriment.
  </p>
  <p class="lead" style="color: white">
    Beliefs, language, traditions, they are all determined by external factors.
    One does not grow up in a tribe of Eskimos and associate a Rolex watch with
    prestige. Such beliefs have to be drilled into people through external
    compulsion. And in a society where influence and power are determined by
    private wealth, the guiding forces of society and by extension the beliefs
    and attitudes of the masses will be increasingly determined by elite groups.
    That does not mean that everyone succumbs to the onslaught however. There
    are a few free spirits who for whatever reason, whether it be sheer will
    power, unbridled intelligence or perhaps some miraculous genetic trait, are
    willing to make a stand for the human sprit and challenge this tyranny.
    While their presence is meek in comparison to the multitudes, they do exist,
    luckily for the world.
  </p>
  <p class="lead" style="color: white">
    Much of human progress is indebted to the efforts made by a handful of
    outsiders. The much neglected few who where willing to think outside of the
    box. Semmelweis, Copernicus, Darwin, the examples are so numerous, that they
    needn’t be given. Conformity is stagnation, those who push humanity forwards
    are the ones who are willing to rock the boat. The folly of modern society
    is that it compromises individual proclivities for the efficiency of
    institutions and because of this it has forgotten the essences of dissident
    beauty. Any society, in any epoch, regardless of how vindictive or repugnant
    it was, was accepted unquestioningly by the majority population. This
    happened, because the people neglected their human right to live in a free
    and democratic society. They abrogated their responsibility to be the
    moulders of society and allowed themselves to be subordinated into the
    position of the moulded.
  </p>
  <p class="lead" style="color: white">
    Normal is only normal because it conforms to the ideological framework
    imposed upon the citizens by their society. In actuality, the only person
    who can spot an insane society is a sane person as the rest will be blind to
    it. They will do whatever they can to ensure that the status quo remains
    unchallenged. Their love for their servitude has extended to the point where
    they will make appeals to ‘human nature’ in a desperate attempt to conflate
    any criticism of the current socio-economic situation with arguing over the
    fundamental laws of nature. The truth is, it aught to be the case that a
    materialistic and competitive society breeds materialistic and competitive
    people, simply because it is a natural human function for people to act in a
    way that reflects the environment that they were brought up in. There is
    nothing unsurprising about that, it is just that in our current multi-media
    society, these values of corporate greed, which are not Biologically
    defined, are imbued into people. Now so more then ever.
  </p>
  <p class="lead" style="color: white">
    If humanity carries on like this, and they don’t recognize the corruption
    that is being done to them, then the problems that the world is currently
    facing will only be exasperated. It is not a gesture of quixotic utopianism,
    to say that in the next few decades humanity will either experience radical
    change or will perish, that is merely a statement of facts. On a local scale
    there is the issue of the exploitation of the working class through a lack
    of opportunities, greater job insecurity, lack of career progression (no
    room for meritocracy), longer hours, stagnant wages, inexistant unions and
    vanishing pensions. But on a global scale there is the even greater issue of
    the impending environmental catastrophe. All of these problems emanate from
    a holistic economic system which is built upon hawkish principles and is
    controlled by tiny concentrations of private wealth who are unaccountable to
    the wider population.
  </p>
  <p class="lead" style="color: white">
    The solution to these seemingly overwhelming problems is to spread democracy
    and the representation of the needs and wants of the majority into as many
    areas of the world as possible. Not the western idea of democracy where
    bureaucratic representatives are vetted by corporate interests, so that
    political debate between the ostensible parties are kept within a narrow
    spectrum to exclude incongruous beliefs to the interests of the ruling
    classes. But the real, unequivocal democracy where the majority are not
    disenfranchised by private sector lobbying, because they have the means to
    represent themselves through local councils or syndicates and so do not have
    to rely on elected representatives who are more likely to serve their own
    interests of maintaining power then they are to put the majority opinion
    into legislation.
  </p>
  <p class="lead" style="color: white">
    Many people will be scandalised by these seemingly utopian ideals. But the
    eternal principles of solidarity, common interest and participatory
    democracy have proven themselves as noble causes time and time again
    throughout the course of history. The abolition of slavery, religious
    tolerance, women’s movements, labour movements, environmentalist movements,
    anti-authority, anti-chauvinism. These are the principles that shed light
    onto a world dominated by the darkness of control and authority. Perfect
    liberty leads to perfect equality. A society where everyone is free to
    pursue the highest endeavours and become the best person they can truly be.
    But this cannot happen without the necessary effort done first.
  </p>
  <p class="lead" style="color: white">
    The question is whether the people should engage in direct action to bring
    about a society based on mutual transaction and free association, so that
    human life can be improved for all individuals on the planet. Or continue to
    let power structures, under the maligned control of private magnates be the
    determining factor in how resources and productivity are used. All the while
    distracting yourself with vain and materialistic entertainment so that the
    powerful can continue to have carte blanche over our lives and the free
    markets which we all have to try and survive in. Where we go from here, is
    up to you.
  </p>
</div>

<!-- This has no reason to exist other than to solve heroku -->

<%- include("partials/footer.ejs") -%>
