<%- include("partials/header.ejs") -%>

<div class="container">
  <div class="bg-dark p-5 m-3 add-border" style="background-color: #2c3e50">
    <h1 class="display-4" style="font-family: TheFrontman; color: red">
      'Our Society
    </h1>
    <p class="lead" style="color: white">
      is run by insane people for insane objectives. I think we're being run by
      maniacs for maniacal ends and I think I'm liable to be put away as insane
      for expressing that. That's what's insane about it. - John Lennon
    </p>
  </div>
</div>

<div class="container">
  <figure class="bg-light p-3 m-3">
    <blockquote class="blockquote">
      <p id="quote-block">
        As long as the general population is passive, apathetic, diverted to
        consumerism or hatred of the vulnerable, then the powerful can do as
        they please, and those who survive will be left to contemplate the
        outcome.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer" id="quote-trail">
      Noam Chomsky
    </figcaption>
    <button type="button" class="btn btn-success btn-lg" id="quote-btn">
      New
    </button>
  </figure>
</div>

<div class="container">
  <div class="bg-light p-3 m-3">
    <div class="row justify-content-center" id="main-grid">
      <div class="col-xl-4">
        <div class="container">
          <div class="card" style="width: 18rem">
            <a
              href="https://lukechopper.github.io/Solidarity-Forever-Quiz/"
              target="_blank"
            >
              <img
                src="https://www.toonpool.com/user/5145/files/brainwashing_2_2092555.jpg"
                class="card-img-top"
                alt="Solidarity Forever Quiz"
              />
              <div class="card-body">
                <h5 class="card-title">Do you know the truth?</h5>
                <p class="card-text">Do this quiz to find out.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="container">
          <div class="card" style="width: 18rem">
            <a
              href="https://www.derbyshire.gov.uk/community/heart-of-derbyshire/portion-control/obesity-facts-and-figures/obesity-facts-and-figures.aspx"
              target="_blank"
            >
              <img
                src="images/fat-lazy-idiots.png"
                class="card-img-top"
                alt="Solidarity Forever Quiz"
              />
              <div class="card-body">
                <h5 class="card-title">Worrying effects of Reaganomics.</h5>
                <p class="card-text">Is this a healthy society?</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="container">
          <div class="card" style="width: 18rem">
            <a
              href="https://www.sciencedaily.com/releases/2010/04/100401151746.htm"
              target="_blank"
            >
              <img
                src="images/cocksuckers.png"
                class="card-img-top"
                alt="Solidarity Forever Quiz"
              />
              <div class="card-body">
                <h5 class="card-title">The token of a low IQ.</h5>
                <p class="card-text">
                  Don’t expect these people to change anything.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" id="main-grid">
      <div class="col-xl-4">
        <div class="container">
          <div class="card" style="width: 18rem">
            <a
              href="https://www.refworld.org/pdfid/5836f7ec0.pdf"
              target="_blank"
            >
              <img
                src="images/bratz.png"
                class="card-img-top"
                alt="Solidarity Forever Quiz"
              />
              <div class="card-body">
                <h5 class="card-title">Consumerism is ugly.</h5>
                <p class="card-text">End the sexualization of children.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="container">
          <div class="card" style="width: 18rem">
            <a
              href="https://www.grunge.com/11457/shady-secrets-mcdonalds-doesnt-want-know/"
              target="_blank"
            >
              <img
                src="images/destroy-mcdonalds.png"
                class="card-img-top"
                alt="Solidarity Forever Quiz"
              />
              <div class="card-body">
                <h5 class="card-title">Boycott McDonald's</h5>
                <p class="card-text">and demand better jobs.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="container">
          <div class="card" style="width: 18rem">
            <a
              href="https://expertit.co.uk/uk-public-becoming-smartphone-zombies/"
              target="_blank"
            >
              <img
                src="images/capitalism-communism.png"
                class="card-img-top"
                alt="Solidarity Forever Quiz"
              />
              <div class="card-body">
                <h5 class="card-title">No individuality in capitalism.</h5>
                <p class="card-text">Attack of the smartphone zombies.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="scripts/index.js"></script>

<%- include("partials/footer.ejs") -%>
