<%- include("partials/header.ejs") -%>

<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-3">
      <a href="/issue-1">
        <img src="images/magazine-1/page-1.png" class="responsive" />
        <p class="lead magazine-text">Issue One</p>
      </a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") -%>
