* {
  box-sizing: border-box;
}

@font-face {
  font-family: TheFrontman;
  src: url("fonts/TheFrontman.ttf");
}

#navbar-logo {
  font-family: TheFrontman;
  transition: 0.2s linear;
}

#navbar-logo:hover {
  font-size: 22px;
  content: normal;
}

@media (max-width: 370px) {
  #navbar-logo {
    font-size: 15px;
  }

  #navbar-logo:hover {
    font-size: 15px;
  }
}

body {
  background-color: black;
}

.add-border {
  border-radius: 20px !important;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1400px) {
  #main-grid {
    padding-left: 40px;
  }
}

.card {
  margin-bottom: 20px !important;
}

@media (max-width: 1199px) {
  .card {
    width: 100% !important;
  }
}

/* Important People */

.responsive {
  display: block;
  width: 100%;
  height: auto;
}

.image-container {
  margin-top: 20px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

/* Videos */
.vl {
  position: absolute;
  border-left: 6px solid gray;
  height: 95px;
}

.title-text {
  font-family: TheFrontman;
  color: red;
  font-size: 40px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
}

@media (max-width: 370px) {
  .title-text {
    font-family: TheFrontman;
    color: red;
    font-size: 25px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
  }

  .vl {
    position: absolute;
    border-left: 6px solid gray;
    height: 75px;
  }

  #btn-video {
    margin-left: 20px !important;
    display: inline-block;
    transform: translate(0px, -6px) !important;
    z-index: 1;
  }
}

#btn-video {
  margin-left: 20px !important;
  display: inline-block;
  transform: translate(0px, -10px);
  z-index: 1;
}

.hide {
  display: none !important;
}

.iframe-container {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.dropdown-item {
  cursor: pointer !important;
}

/* logged */
#logged-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

/* Magazine */
.magazine-text {
  text-align: center;
  color: white;
  font-size: 40px;
}

@media (max-width: 1399px) {
  .magazine-text {
    font-size: 35px;
  }
}

@media (max-width: 1199px) {
  .magazine-text {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .magazine-text {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .magazine-text {
    font-size: 50px;
  }
}

.magazine-btn {
  font-family: TheFrontman;
  color: black;
  cursor: pointer;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

#magazine-container {
  position: relative;
}

#magazine-overlay-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  cursor: pointer;
  background-color: gray;
  opacity: 0;
  transition: 0.5s ease;
}

#magazine-overlay-right:hover {
  opacity: 0.5;
}

#magazine-overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  cursor: pointer;
  background-color: gray;
  opacity: 0;
  transition: 0.5s ease;
}

#magazine-overlay-left:hover {
  opacity: 0.5;
}

.magazine-overlay-child {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.user-text {
  color: gray;
  font-size: 15px;
}

/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.loader {
  border: 16px solid #000000; /* Light grey */
  border-top: 16px solid #bdc3c7; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
